.videos {
  .videos-header {
    display: flex;
    justify-content: space-between;
    .upload-btn {
      background-color: $app-color;
      color: #ffffff;
    }
  }
  .videos-content {
    padding: 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    min-height: 265px;
    .no-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .video-wrapper {
      margin: 20px 0 0 20px;
      .video-player {
        height: 200px;
        width: 355px;
      }
      .video-details {
        display: flex;
        justify-content: space-between;
        color: #fff;
        .file-name {
          color: #000000;
          padding: 4px;
          font-size: 1.3rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 500;
          margin-top: 4px;
          max-width: 235px;
        }
        .video-details {
        display: flex;
          justify-content: space-between;
          color: #fff;
          .file-name {
            color: #000000;
            padding: 4px;
            font-size: 1.3rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 500;
            margin-top: 4px;
            max-width: 235px;
          }
        }
      }
    }
  }
}