.info {
  .account-details {
    .details-content {
      margin-top: 10px;
      .address {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
        margin-top: 4px;
      }
    }
  }
  .add-file {
    margin: 0 0 20px 0;
    .add-file-wrapper {
      border-color: #edf2f9;
      box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
      border: 1px solid #edf2f9;
      background-color: #fff;
      border-radius: .5rem;
      padding: 20px;
      margin: 0 0 20px 0;
      max-width: unset;
      .upload-content-button {
        display: flex;
        justify-content: center;
        margin: $standard-margin * 3 0;
        .upload-button {
          padding: $standard-padding $standard-padding * 3;
          background-color: $background-color-950;
          color: $text-color;
          font-size: 1.2rem;
          &:hover {
            color: $text-color;
            background-color: $text-color-950;
          }
        }
      }
    }
  }
}